openai
attrs
numpy
pandas
flask
sqlalchemy
psycopg2-binary
statsmodels
scipy
scikit-learn
gunicorn
whitenoise
Django==4.2.1
django-cors-headers==4.1.0
dj-database-url==2.0.0
djangorestframework==3.14.0
django-on-heroku
