/* DashboardStats.css */

@font-face {
  font-family: 'Organetto-cndlight-edit';
  src: url('../../fonts/organetto-cndlight-edit.otf') format('opentype');
}

.dashboard-stats {
  display: flex;
  gap: 5%;
  width: 95%;
  height: 15%;
  margin-top: 20px;
  margin-left: 10px;
}

.stat-container {
  font-family: 'Organetto-cndlight-edit', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.gpg-svg {
  font-family: 'Organetto-cndlight-edit', sans-serif;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.tp-svg {
  font-family: 'Organetto-cndlight-edit', sans-serif;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}