/* DashboardStats.css */

.dashboard-stats {
  display: flex;
  gap: 5%;
  width: 95%;
  height: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.stat-container {
  font-family: 'Organetto-cndlight', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.gpg-svg {
  font-family: 'Organetto-cndlight', sans-serif;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.tp-svg {
  font-family: 'Organetto-cndlight', sans-serif;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}